body{
  /* background: url("../img/background.png") no-repeat;     */
  font-family: 'Montserrat', sans-serif;
  background-size: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
  /*button {
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px;
    height: 50px;
    color: #000;
    background: #66FCF1;
    border: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border-radius: 10px;
    justify-content: center;
  }*/
  
/*.listOfViewers{
  width: 70%;
  height: 100%;
  background: url("../img/content.jpg") no-repeat;  
  margin: 0 auto;
}  */
.listOfViewers__content{
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.table{
  position: relative;
  margin-top: 6%;
  position: fixed;
  left: 23%;
  top: 70px;
  justify-content: center;
  width: 70%;
  /*background-color: rgba(255, 255, 255, 0.80);*/
  height: 100%;
  font-size: 22px;
  font-weight: 500;
}
.table tr{
  font-size: 18px;
  font-weight: 500;
  height: 50px;
}
table{
  border-collapse: collapse;
}
table td{
  text-align: center;
}
h2{
  color: seashell;
}
.viewer__create__button{
  height: 40px;
  width: 100px;
  background-color: #66FCF1;
  margin: 0 auto;
}