.content {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: content;
	height: 100%;
	width: 100%;
  }

  .container {
	max-width: 1170px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.7);
	height: 100%;
  }

  .container .table {
	padding: 45px 70px;
  }
  
  .container table {
	
	border-collapse: collapse;
  }

  
  .table__item {
	display: -ms-grid;
	display: grid;
	padding: 0 36px;
	-ms-grid-columns: 86px 150px 239px 161px 161px;
		grid-template-columns: 86px 150px 239px 161px 161px;
		grid-template-areas: "time date name home away";
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	width: 1030px;
	height: 74px;
	border: 1px solid #000;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	font-size: 18px;
  }
  
  .table__item_time {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: time;
  }
  
  .table__item_date {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: date;
	gap: 18px;
  }
  
  .table__item_name {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: name;
	gap: 18px;
  }
  
  .table__item_team_home {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
	grid-area: home;
	gap: 68px;
  }
  
  .table__item_team_away {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	grid-area: away;
	gap: 68px;
  } 

  .table__item_ticket {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
	grid-area: ticket;
	gap: 18px;
  }