.content {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: content;
	height: 100%;
	width: 100%;
	
  }


  .container {
	max-width: 1170px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.7);
	height: 100%;
	padding: 45px 70px;
  }

  .event {
	  padding: 50px 100px 0 100px;
  }
  .event__title {
	font-weight: 500;
	font-size: 36px;
	text-align: center;
  }

  .event__info {
	font-size: 24px;
	  margin-top: 79px;
	  display: grid;
	  row-gap: 38px;
	  font-weight: 500;
  }

  .event__button {
	display: flex;
	justify-content: center;
  }

  .event__button_buy {
	 
	  margin-top: 101px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	width: 170px;
	height: 50px;
	background: #66FCF1;
	border-radius: 10px;
  }
  .event__button_buy:hover {
	background-color: black;
	color: #66FCF1;
  }